*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*::before, *::after{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    background-color: rgba(238, 238, 238, 0.548);

    display: grid;
    grid-template:
                'perfil header header'
                'perfil main main'
                'perfil footer footer';
    grid-template-columns: 260px 1fr;
    grid-template-rows: 50px 1fr 50px;
            
    gap: 1rem;
    padding: 1rem;

}

header{
    grid-area: header;
    background-color: #ddd;
    height: 50px;
}

aside{
    grid-area: perfil;
    background-color:#ddd;

    max-height: calc(100vh - 2rem);
    min-height: calc(100vh - 2rem);

    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

main{
    grid-area: main;
    background-color: #fff;
}

footer{
    grid-area: footer;
    background-color: #ddd;
    grid-column-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: bold;
}

.page{
    display: none!important;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil-header{
    background-color: #ccc;
    height: 30%;
    text-align: center;
}

.perfil-header .perfil-photo{
    margin: .8rem auto .5rem;
    height: 115px;
    text-align: center;
}
.perfil-header .perfil-photo img{
    height: 100%;
    border-radius: 60px;
    /* border-image: fill; */
    /* border-color: 2px solid #fff; */
}
.perfil-header h4 {
    font-weight: normal;
    font-size: 1rem;
}


.perfil-info{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil-personal {
    margin: .5rem;
    padding: .3rem;
    height: 60%;
    background-color: #eee;
    font-size: .85rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.perfil-personal ul{
    list-style: none ;
    margin-left: .2rem;
    text-align: left;
}

.perfil-personal ul li{
    padding: .5rem 0;
}

.perfil-personal .cv-download{
    margin: .5rem ;
    text-align: center;
}

.perfil-personal .btn-download{
    background-color: #fff;
    text-decoration: none;
    color: #222;
    font-weight: bold;
    bottom: .3rem;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
}

.perfil-social {
    height: 50px;
    background-color: #ccc;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.perfil-social a{
    text-decoration: none;
    font-size: 2rem;
    color: #222;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav a{
    color: #222;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}
header nav .menu-home{
    height: 100%;
    width: 50px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menu-toggle{
    height: 100%;
    width: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

header nav div {
    height: 100%;
}

header nav div ul {
    list-style: none;
    margin-right: .5rem;
    height: 100%;
}
header nav div ul li {
    display:inline-flex;
    align-items: center;

    margin: 0 .5rem;
    height: 100%;
}

header nav div ul li a{
    padding: .5rem;
    text-align: center;
}

main div h2,
main div hr,
main div p{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #444;
    width: calc(100% - 2rem);
}

main div h2{
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    text-align: left;
    font-size: x-large;
}

main div hr{
    border: none;
    border-top: 1px solid #999;
    /* width: 100%; */
}

main div p {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    /* text-indent: 2.5rem; */
    text-align: justify;
}
main div section > p:last-child{
    padding-bottom: 1rem;
}

main .home,
main .resumo{
    width: 100%;
}

main .home > section:nth-child(even),
main .resumo > section:nth-child(even),
main .portifolio > section:nth-child(even),
main .contato > section:nth-child(even){
    background-color:rgba(238, 238, 238, 0.8);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px,
    rgba(0, 0, 0, 0.1) 0px -3px 5px;
}
  
main .home .home-stats{
    text-align: center;
    padding-bottom: 1rem;
}

.home-stats .img-stats{
    width: 50%;
}

.home-cards{
    width: 100%;
    overflow-x: auto;
}

.list-cards{
    /* padding-right: 50px; */
    margin: 1rem;
    margin-bottom: 0;
    display: inline-flex;
    padding: 1rem;
}

.card{
    min-width: 230px;
    min-height: 200px;
    height: fit-content;
    margin: 1rem;
    padding: .5rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px,
    rgba(0, 0, 0, 0.1) 0px -3px 5px;
}

.card-icon{
    font-size: 3rem;
    color: #666;
}

.card-title{
    font-size: 1.2rem;
    color: #444;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-description{
    margin: 0;
    font-size: 1rem;
    text-align: justify;
    text-indent: 0;
    line-height: 1.2rem;
    width: 100%;
}

.tecnologia{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tecnologia .tec-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: .3rem;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px,
    rgba(0, 0, 0, 0.1) 0px -3px 5px;

    width: 45%;
}

.tecnologia .tec-card .tec-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-size: small;
}

.tec-title p{
    font-size: 1rem;
    line-height: normal;
    margin: 0;
    text-indent: 0;
    font-weight: 600;
}

/* .tec-title a, */
.tec-title a i{
    text-decoration: none;
    color: #444;
    font-size: 1.3rem;
}


.tec-body{
    margin-top: .5rem;
    height: .8rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 1rem;
}

.progressbar{
    height: 100%;
    width: 20%;
    text-align: center;
    border-radius: 1rem;
}




/* INICIO COR CARD TEC */

.tec-php .progressbar{
    background: #767ab3;
}

.tec-php:hover{
    transition: .3s box-shadow;
    box-shadow:#767ab3 0px 0px 10px 2px;
}

.tec-css .progressbar{
    background: #2750e6;
}

.tec-css:hover{
    transition: .3s box-shadow;
    box-shadow:#2750e6 0px 0px 10px 2px;
}

.tec-html .progressbar{
    background: #e54c26;
}

.tec-html:hover{
    transition: .3s box-shadow;
    box-shadow:#e54c26 0px 0px 10px 2px;
}

.tec-js .progressbar{
    background: #f1db4e;
}

.tec-js:hover{
    transition: .3s box-shadow;
    box-shadow:#f1db4e 0px 0px 10px 2px;
}

.tec-java .progressbar{
    background: #ec3a22;
}

.tec-java:hover{
    transition: .3s box-shadow;
    box-shadow:#ec3a22 0px 0px 10px 2px;
}

.tec-csharp .progressbar{
    background: #31007c;
}

.tec-csharp:hover{
    transition: .3s box-shadow;
    box-shadow:#31007c 0px 0px 10px 2px;
}


/* FIM COR CARD TEC */

.resumo section {
    width: 100%;
    /* background-color: #f1db4e;
    position: relative;*/
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.resumo section .resume-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    color: #444;
    width: calc(100% - 2rem);
    border-bottom: 1px solid #ddd;
}

.resumo section .resume-container span {
    display: inline-flex;
    align-items: center;
    padding-top: .2rem;
    margin-right: 1rem;    
    width: 30%;
}

.resumo section .resume-container span::before {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 4px;
    border: 2px solid #444;
    background: #999;
    display: inline-flex;
    margin-right: 1rem;
}

.resumo section .resumo-area{
    width: 100%;
}

.resume-container .resumo-header{
    margin-bottom: 1rem;
}

.resume-container .resumo-description{
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
}

.resume-container .resumo-description summary{
    font-size: .8rem;
    color: #222;
    margin-bottom: .8rem;
    cursor: pointer;
}

.resume-container .resumo-description p{
    font-size: 1rem;
    text-indent: 0;
    padding: 0;
    margin: 0;
    line-height: normal;
}

/* INICIO: CSS da pagina de PORTIFOLIO */

.portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portifolio .card-portifolio {
    width: calc(100% - 2rem);
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
}

.portifolio .card-portifolio .card-body{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.portifolio .card-portifolio .card-body .card-img{
    width: 50%;
    background-color: #999;
}

.portifolio .card-portifolio .card-footer{
    padding: 1rem 1.5rem 0;
}


/* FIM: CSS da pagina de PORTIFOLIO */

/* INICIO: CSS da pagina de CONTATO */

.contato .contato-area {
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: #444;
    font-size: 1.5rem;
    background-color: #eee;
}

.contato .contato-area .contato-item {
    margin: 1rem 0;
    text-align: left;
}

/* FIM: CSS da pagina de CONTATO */